/* general page styling */
body {
    font: 10pt Verdana, sans-serif;
    background-color: #bbeedd;
    padding: 0 1em;
}
fieldset {
    float: left;
    background-color: #ddffee;
}
legend {
    font-weight: bold;
}
th, td {
    padding: 0;
}
th {
    font-size: 0.8em;
}
.title-text {    
    font-weight: bold;
    font-size: 1.5em;
    height: 50px;
}
.yeartag {
    margin-right: 1em;
    margin-left: 0.5em;
    vertical-align:middle
}
.big-text {
    font-weight: bold;
    font-size: 1.1em;
    margin: 0.5em 0;
}
.small-text {
    font-size: 0.8em;
}

.panels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.panel {
    float: left;
    display: inline-block;
}
.poke-info {
    width: auto;
}
.field-info {
    width: auto;
}
.generations {
    padding-left: 1em;
}

/* general button styling */
.btn {
    text-align: center;
    border: solid 1px #aaaaaa;
    padding: 4px 8px;
    position: relative;
    cursor: pointer;
    color: #555555;
    background: #e9e9e9;
    margin: -1px -3px 0;
    display: inline-block;
    width: 5em;
    border-radius: 8px;
}
.btn-wide {
    width: 7em;
}
.btn-xwide {
    width: 8em;
}
.btn-xxwide {
    width: 9em;
}
.btn-xxxwide {
    width: 10em;
}
.btn-small {
    width: 4em;
}
.btn-xsmall {
    width: 1em;
}
.btn-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.btn-mid {
    border-radius: 0;
}
.btn:hover {
    z-index: 10;
    border-color: #777777;
    background: #e3e3e3;
}
.btn-input:checked + .btn {
    font-weight: bold;
    color: #111111;
    background: #f5f5f5;
}
.btn-input[type="radio"]:checked + .btn {
    cursor: default;
}
.btn-input {
    display: none;
}
.btn-input:disabled + .btn {
    color: #999999;
}
.btn-group {
    display: inline-block;
    width: 100%;
}
.left {
    float: left;
}
.right {
    float: right;
}

.locked-move:checked + .btn {
    background: #ffff99;
}

/* header */
.move-result-group {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


.move-result-subgroup {
    min-width: 200px;
}


.move-result-group .btn {
    margin-right: 1em;
}
.main-result-group {
    margin: 2em 0 1em;
}
.result-move-header {
    font-size: 0.8em;
    font-weight: bold;
    margin: 0 0 5px;
}

/* pokemon info */
.poke-info label {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
.poke-info input:not([type]), .poke-info input[type="text"], .poke-info span {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

.poke-info span.selection,
.poke-info span.selection .select2,
.poke-info span.selection .select2-container,
.poke-info span.selection .select2-selection,
.poke-info span.selection .select2-selection__rendered{
    width: auto;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

.poke-info input[type="number"] {
    width: auto;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
.info-group {
    margin: 1em 0;
}

.info-group table {
    width: 100%;
}

.info-group table td {
    width:1px;
    white-space:nowrap;
}
.set-selector {
    width: 28em;
}
.info-selectors select {
    width: 15em;
}
select.toxic-counter {
    width: 4.5em;
}
.move-selector, .move-bp, .move-type, .move-cat, .move-hits {
    font-size: 0.9em;
}
.move-selector {
    width: 9.0em;
}
.poke-info input.move-bp {
    width: 2em;
}
.move-cat, .move-hits {
    width: 4em;
}
.poke-info .crit-btn {
    font-size: 0.8em;
    width: auto;
    padding: 3px 3px;
}
.poke-info .x-btn {
    font-size: 0.8em;
    width: auto;
    padding: 3px 3px;
    margin-left: 0.3em;
}
.poke-info .ev-total {
    font-size: 0.8em;
}

.poke-info .underLimit {
    color: #000000;
}

.poke-info .overLimit {
    color: #CC0000;
}

.info-group.hp-group,
.move1,
.move2,
.move3,
.move4,
.info-group div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* field info */
.field-info .btn {
    font-size: 0.8em;
}

.hide {
    display: none;
}

/* select2 overrides */
.small-select.select2-container .select2-choice {
    font-size: 0.9em;
    height: 18px;
    line-height: 18px;
}
.small-select.select2-container .select2-choice .select2-arrow b {
    background-position: 0 -4px;
}
.small-select.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px -4px;
}




#autolevel {
    float: right;
    color: #fff;
    text-decoration: none;
}
.onoffswitch {
  float: right;
    position: relative; width: 70px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    display: inline-block;

}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 8px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "50";
    padding-left: 10px;
    background-color: #1e3864; color: #fff;
}
.onoffswitch-inner:after {
    content: "100";
    padding-right: 10px;
    background-color: #F3F3F3; color: #333333;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 10px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 46px;
    border: 2px solid #999999; border-radius: 8px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.field-info .panel-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field-info .panel-body hr{
    width: 100%;
}

.field-info .custom-set {
    display: none;
}

@media (min-device-width: 600px) {
    .field-info .custom-set {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}