body, html {
    margin:0;
    padding:0;
	background-color: #10171e;
	color : #d4d4d4;
    font-family: Open Sans;
}

textarea, #spreadName{
	background-color: #323232;
	color: #d4d4d4;
}

#switchTheme{
	margin-left : 90px;
	width: 100px;
}

select.decorated option:hover {
    box-shadow: 0 0 10px 100px #white inset;
}


#wideguard {
    display: block;
    margin: 0 auto;
    padding-bottom: 0.5em;
}

#notice{
    font-size: 30pt;
    color: #e64946;
}
#smallnotice{
    font-size: 15pt;
    color: #e64946;
}

#notice a{
    color: #1e3864;
}

.header{
    margin:0 0 20px 0;
    color: #ffffff !important;
	background-color: #323232 !important;
	border-bottom: 5px solid #7e4645 !important;
    box-shadow:inset 1px 1px 0 rgba(255,255,255,.6),0px 2px 2px rgba(0,0,0,.15);
    min-height:50px;
}

.header a {
    color: #fff;
    text-decoration: none;
}

.header-inner {
    max-width:960px;
    margin:0 auto;
}

.header-logo {
    float: left;
}

.nav,.nav li,.nav-play,.nav-play li{
    display:block;
    list-style:none;
    margin:0;
    padding:0;
    float:left;
}

.nav{
    padding:15px 6px 15px 6px;
}


.button{
    outline:none;
    cursor:pointer;
    text-align:center;
    text-decoration:none;
    text-shadow:0 1px 0 rgba(255,255,255,.4);
    border-radius:5px;
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2),inset 0 -1px 2px rgba(255,255,255,1);
    -moz-box-shadow:0 1px 2px rgba(0,0,0,.2),inset 0 -1px 2px rgba(255,255,255,1);
    box-shadow:0 1px 2px rgba(0,0,0,.2),inset 0 -1px 2px rgba(255,255,255,1);
    white-space:nowrap;
    color:#222222;
    border:solid 1px #AAAAAA;
    background:#e3e3e3;
    background:-webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#e3e3e3));
    background:-moz-linear-gradient(top,#f6f6f6,#e3e3e3);
    background:linear-gradient(top,#f6f6f6,#e3e3e3);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6',endColorstr='#e3e3e3');
}

.button:hover{
    background:#cfcfcf;
    background:-webkit-gradient(linear,left top,left bottom,from(#f2f2f2),to(#cfcfcf));
    background:-moz-linear-gradient(top,#f2f2f2,#cfcfcf);
    background:linear-gradient(top,#f2f2f2,#cfcfcf);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2',endColorstr='#cfcfcf');
    border-color:#606060;
}

.button:active{
    background:-webkit-gradient(linear,left top,left bottom,from(#cfcfcf),to(#f2f2f2));
    background:-moz-linear-gradient(top,#cfcfcf,#f2f2f2);
    background:linear-gradient(top,#cfcfcf,#f2f2f2);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfcfcf',endColorstr='#f2f2f2');
}

.wrapper{
    padding:0 1em;
    max-width:1138px;
    margin:0 auto;
}

.set-selector {
    width: 26em;
}
.panel {
  margin: 5px;
  background-color: #323232;
  border: medium none;
  border-radius: 2px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
   background-color: #323232;
  padding: 10px 15px;
  border-bottom: 5px solid #7e4645;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  color: #d4d4d4 !important;
}

select{
	background: #323232 !important;
	color: #d4d4d4 !important;
	border: #525252 solid 1px !important;
}


.banner {
    text-align: center;
    margin-top: 10px;
}

.footer {
    clear: both;
    padding-top: 10px;
    text-align: center;
    font-size: 0.7em;
}

h1 {
    margin: 0;
    font-size: 18px;
}

h1 a {
    color: #fff;
    text-decoration: none;
}













