/* general page styling */
body {
    font: 12px Verdana, sans-serif;
    background-color: #bbeedd;
    padding: 0 1em;
    min-width: 100em;
}
fieldset {
    float: left;
    background-color: #ddffee;
}
legend {
    font-weight: bold;
}
th, td {
    padding: 0;
}
th {
    font-size: 0.8em;
}

.title-text {
    font-weight: bold;
    font-size: 1.5em;
    height: 50px;
}
.yeartag {
    margin-right: 1em;
    margin-left: 0.5em;
    vertical-align:middle
}
.big-text {
    display: inline-block;
    font-weight: bold;
    font-size: 1.1em;
    margin: 0.5em 0;
}
.small-text {
    font-size: 0.8em;
}
.panel {
    float: left;
    display: inline-block;
}
.poke-info {
    width: 30em;
}
.field-info {
    width: 30em;
}
.generations {
    padding-left: 1em;
}

/* general button styling */
.btn {
    text-align: center;
    border: solid 1px #aaaaaa;
    padding: 4px 8px;
    position: relative;
    cursor: pointer;
    color : #d4d4d4;
	background : #323232;
    margin: -1px -3px 0;
    display: inline-block;
    width: 5em;
    border-radius: 8px;
}
.btn-wide {
    width: 7em;
}
.btn-xwide {
    width: 8em;
}
.btn-xxwide {
    width: 9em;
}
.btn-xxxwide {
    width: 10em;
}
.btn-small {
    width: 4em;
}
.btn-xsmall {
    width: 1em;
}
.btn-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.btn-mid {
    border-radius: 0;
}
.btn:hover {
    z-index: 10;
    border-color: #777777;
    background: #656565;
}
.btn-input:checked + .btn {
    font-weight: bold;
    color: #fff;
    background: #5d5d5d;
}

.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
    background: #626262;
}

.btn-input[type="radio"]:checked + .btn {
    cursor: default;
}
.btn-input {
    display: none;
}
.btn-input:disabled + .btn {
    color: #999999;
}
.btn-group {
    display: inline-block;
    width: 100%;
}
.left {
    float: left;
}
.right {
    float: right;
}

.locked-move:checked + .btn {
    background: #ffff99;
}


/* header */
.move-result-group {
    max-width: 80em;
    min-width: 50em;
    margin: 1em 0 12em;
}
.move-result-subgroup {
    float: left;
    width: 50%;
}
.move-result-group .btn {
    margin-right: 1em;
}
.main-result-group {
    margin: 2em 0 1em;
}
.result-move-header {
    font-size: 0.8em;
    font-weight: bold;
    margin: 0 0 5px;
}

/* pokemon info */
.poke-info label {
    display: inline-block;
    width: 6em;
}
.poke-info input:not([type]), .poke-info input[type="text"], .poke-info span :not(.select2-chosen) {
    display: inline-block;
    width: 2.5em;
	background: #323232;
	color: #d4d4d4 ;
	border: #525252 solid 1px;
}
.poke-info input[type="number"] {
    display: inline-block;
    width: 3em;
	background: #323232;
	color: #d4d4d4 ;
	border: #525252 solid 1px;
}

.info-group {
    margin: 1em 0;
}
.set-selector {
    width: 28em;
}
.info-selectors select {
    width: 15em;
}
select.toxic-counter {
    width: 4.5em;
}
.move-selector, .move-bp, .move-type, .move-cat, .move-hits {
    font-size: 0.9em;
}
.move-selector {
    width: 9.0em;
}
.poke-info input.move-bp {
    width: 2em;
}
.move-cat, .move-hits {
    width: 4em;
}
.poke-info .crit-btn {
    font-size: 0.8em;
    width: 2.5em;
    height: 1em;
    padding: 3px 3px;
}
.poke-info .x-btn {
    font-size: 0.8em;
    width: 3.5em;
    height: 1em;
    padding: 3px 3px;
    margin-left: 0.3em;
}
.poke-info .ev-total, .poke-info .ev-left {
    font-size: 0.8em;
}

.poke-info .underLimit {
    color: #d4d4d4;
}

.poke-info .overLimit {
    color: #CC0000;
}

/* field info */
.field-info .btn {
    font-size: 0.8em;
}

.hide {
    display: none;
}

/* select2 overrides */
.small-select.select2-container .select2-choice {
    font-size: 0.9em;
    height: 18px;
    line-height: 18px;
}
.small-select.select2-container .select2-choice .select2-arrow b {
    background-position: 0 -4px;
}
.small-select.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px -4px;
}




#autolevel {
    float: right;
    color: #fff;
    text-decoration: none;
}
.onoffswitch {
  float: right;
    position: relative; width: 70px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    display: inline-block;

}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 8px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "50";
    padding-left: 10px;
    background-color: #1e3864; color: #fff;
}
.onoffswitch-inner:after {
    content: "100";
    padding-right: 10px;
    background-color: #F3F3F3; color: #333333;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 10px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 46px;
    border: 2px solid #999999; border-radius: 8px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
